/* src/MainContent.css */

.main-content {
    text-align: center;
    padding: 20px;
    margin-top: 60px; /* Adjust margin to accommodate navbar height */
  }
  
  .main-content h1 {
    font-family: './fonts/KoPubDotumMedium.ttf'; /* 원하는 폰트 설정 */
    font-size: 2rem; /* 원하는 크기 설정 */
    color: #64b3f4; /* 원하는 색상 설정 */
    margin: 0.5rem 0;
  }
  
  .main-content h1:nth-of-type(2) {
    font-family: './fonts/Jalnan2TTF.ttf'; /* 원하는 폰트 설정 */
    font-size: 4rem; /* 원하는 크기 설정 */
    background: linear-gradient(to right, #0000ff, #00ffff); /* 블루 그라데이션 색상 */
    -webkit-background-clip: text;
    color: transparent;
    margin: 0.5rem 0;
  }