/* MusicPlayer.css */

.music-player {
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 10px;
}

.album-cover1 img {
  border-radius: 5px;
  width: 60px;
  height: 60px;
}

.song-info {
  flex-grow: 1;
  margin-left: 15px;
}

.song-info h2 {
  margin: 0;
  font-size: 1rem;
  color: #333;
}

.song-info p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #777;
}

.controls {
  display: flex;
  align-items: center;
}

.control-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #007bff;
  margin-left: 10px;
}

.album-cover {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album-cover img {
  width: 200px;
  /* Increase the size of the album cover */
  height: 200px;
  /* Increase the size of the album cover */
  border-radius: 10px;
}