/* MusicResult.css */
@font-face {
  font-family: 'KoPubDotumMedium';
  src: url('../../fonts/KoPubDotumMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Jalnan2';
  src: url('../../fonts/Jalnan2TTF.ttf') format('truetype');
}

.music-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.kopub {
  font-family: 'KoPubDotumMedium', sans-serif;
  color: gray;
  margin: 10px 0;
}

.jalnan {
  text-align: center;
  font-family: 'Jalnan2', sans-serif;
  font-size: 1em;
  padding: 10px 30px;
  color: #007bff;
}

.songs-container {
  display: flex;
  justify-content: center;
  /* 가운데 정렬 */
  width: 100%;
  flex-wrap: wrap;
}

.song-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  flex: 1 1 300px;
  margin: 10px;
}

.album-cover {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  position: relative;
}

.album-cover img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.song-title {
  font-family: 'Jalnan2', sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}


.album-cover h3 {
  font-family: 'Jalnan2', sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}


.play-button,
.download-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lyrics-section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 300px;
}

.lyrics-section p {
  margin: 5px;
  color: #333;
}

.create-song-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
}

.song-title {
  font-family: 'Jalnan2', sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.songs-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;
  /* 화면 크기에 따라 요소를 감쌀 수 있도록 변경 */
}

.song-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  flex: 1 1 300px;
  /* 각 요소가 300px 이상 크기를 가지며 flex 컨테이너 내에서 균등하게 분배 */
  margin: 10px;
}

.album-cover {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  position: relative;
}


.song-title {
  font-family: 'Jalnan2', sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}