@font-face {
  font-family: 'KoPubDotumMedium';
  src: url('../../fonts/KoPubDotumMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'Jalnan2';
  src: url('../../fonts/Jalnan2TTF.ttf') format('truetype');
}

.music-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
}

h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}

.kopub {
  font-family: 'KoPubDotumMedium', sans-serif;
  color: gray;
  margin: 10px 0;
}

.jalnan {
  text-align: center;
  font-family: 'Jalnan2', sans-serif;
  font-size: 1em;
  padding: 10px 30px;
  color: #007bff;
}

.songs-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

.song-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4px;
}

.album-cover-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.album-cover {
  width: 80%;
  max-width: 300px;
  align-items: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.album-cover img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  align-items: center;
}

.song-title {
  font-family: 'KoPubDotumMedium', sans-serif;
  font-size: 1.2rem;
  color: #333;
}

.play-button,
.download-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.album-cover-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.lyrics-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.lyrics-section {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  max-height: 140px;
  align-items: center;
}

.lyrics-section pre {
  font-family: 'KoPubDotumMedium', sans-serif;
  margin: 0;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.create-song-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}